/* results.jsp */

@import "navbar.css";

.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main .search-result {
    margin-top: 30px;
}

.search-result .thumbnail {
    margin-bottom: 0px;
}

.search-result ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
}

@media (max-width: 768px) {
    #navbar-search {
        margin-bottom: 10px;
    }
}
