<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>it.disi.unitn.buybuy.auth.Signup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>The url of the JDBC persistence system database position</description>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby:/Users/maxfrax/NetBeansProjects/BuyBuy/db</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.unitn.disi.listeners.WebAppContextListener</listener-class>
    </listener>
</web-app>
